[Unit]
Description=cleanup-docker
After=docker.service
Requires=docker.service


[Service]
EnvironmentFile=/etc/environment
Type=oneshot
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull quipper/cleanup-deis-images
ExecStart=/usr/bin/docker run --rm --name %p \
 -v /var/run/docker.sock:/var/run/docker.sock \
 -t quipper/cleanup-deis-images
ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
Global=true
